body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    padding: 40px;
}

.testimonial-container {
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.testimonial-box {
    background-color: white;
    padding: 25px;
    border: 1px solid #d9d9d9;
    margin-bottom: 25px;
}

.author {
    text-align: right;
    font-style: italic;
    margin-top: 10px;
}

